@import '../../App.scss';

.App {
    background: $primary-color;

    .page {
        background: $secondary-color;
        color: $primary-color;
        font-family: 'Rubik', sans-serif;
    }

    .divider {
        border-color: $primary-color;
        border-width: 2px;
    }

}