@import '../../App.scss';

.home-page {
    color: white;
    font-family: 'Rubik', sans-serif;
    background: $primary-color;

    .intro {
        color: $secondary-color;
        font-size: 56px;
        font-weight: bold;
    }

    // .chevron-icon {
    //     // position: fixed;
    //     bottom: 0;
    //     padding-bottom: 16px;
    // }

}