.navbar {
    // background: #14325c;
    width: 100%;
    color: white;

    .logo {
        display: block;
        margin: 8px;
        // margin-left: 10px;
        width: 40px;
        height: auto;
        float: left;
    }

}