@import '../../App.scss';

.footer {
    color: $secondary-color;

    h1 {
        color: white;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
    }

    p {
        font-size: 14px;
    }
}