$primary-color: #214373;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format(ttf);
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf') format(ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Regular.ttf') format(ttf);
}

@font-face {
  font-family: 'RubikDoodleShadow';
  src: url('./assets/fonts/RubikDoodleShadow-Regular.ttf') format(ttf);
}

body {
  background: $primary-color;
}