$primary-color: #214373;
$secondary-color: #e3efff;
$light-blue: #86aecf;

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../src/assets/fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'RubikDoodleShadow';
  src: url('../src/assets/fonts/RubikDoodleShadow-Regular.ttf');
}

body {
  background: $primary-color;
}